html {
  box-sizing: border-box; /* this is so when we add a border or padding to an element it does not increase the size */
  background-color: forestgreen;
}

#modal-root {
  position: relative;
  z-index: 999;
}

.modal {
  background-color: rgba(0, 0, 0, 0.6);
  color: forestgreen;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;
  padding: 20px;
  padding-top: 0px;
  border: 1px solid #888;
  width: auto;
  align-items: center;
}

.close {
  color: darkslategrey;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
  margin-right: -15px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.home-container {
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100%; */
  height: 100%;
}

.app-container {
  /* max-width: 1020px;
  margin: 0 auto; */
}

.nixmedia-container {
  max-width: 1020px;
  margin: 0 auto;
  overflow: hidden; /* Required for modal */
  display: grid;
  /* grid-gap: 20px; */
  grid-template-columns: 250px 510px 250px;
  grid-template-rows: 50px 700px;
  grid-template-areas:
    'blank game-title logout'
    'col-1-container col-2-container-nm col-3-container';
}
@media (max-width: 700px) {
  .nixmedia-container {
    max-width: 700px;
    margin: 0 auto;
    overflow: hidden; /* Required for modal */
    display: grid;
    /* grid-gap: 20px; */
    grid-template-columns: 520px;
    grid-template-rows: auto;
    grid-template-areas:
      'game-title'
      'col-2-container-nm';
  }
}
.col-1-container-nm {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 70px 150px 500px 150px 150px; */
  grid-template-rows: 30px;
  grid-template-areas: 'blank';
}
.col-2-container-nm {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 70px 150px 500px 150px 150px; */
  grid-template-rows: auto;
  grid-template-areas: 'movies';
}
.col-3-container-nm {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 70px 150px 500px 150px 150px; */
  grid-template-rows: auto;
  grid-template-areas: 'blank';
}
.movies {
  grid-area: movies;
  /* margin-top: 20px; */
  justify-self: center;
}

.game-container {
  max-width: 1020px;
  margin: 0 auto;
  overflow: hidden; /* Required for modal */
  display: grid;
  /* grid-gap: 20px; */
  grid-template-columns: 250px 510px 250px;
  grid-template-rows: 50px 700px;
  grid-template-areas:
    'blank game-title logout'
    'col-1-container col-2-container col-3-container';
}

@media (max-width: 700px) {
  .game-container {
    grid-template-columns: 520px;
    grid-template-rows: auto;
    grid-template-areas:
      'game-header'
      'col-2-container'
      'col-1-container'
      'col-3-container';
  }
}

.col-1-container {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 70px 150px 500px 150px 150px; */
  grid-template-rows: 30px;
  grid-template-areas: 'games';
}
.col-2-container {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 70px 150px 500px 150px 150px; */
  grid-template-rows: auto;
  grid-template-areas:
    'movies'
    'score'
    'board'
    'rack'
    'dictionary';
}
.col-3-container {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 70px 150px 500px 150px 150px; */
  grid-template-rows: auto;
  grid-template-areas:
    'friends'
    'chat';
}

#app-root {
  background-color: forestgreen;
}
.blank {
  grid-area: blank;
}
.game-title {
  grid-area: game-title;
  text-align: center;
}
.logout {
  grid-area: logout;
  text-align: right;
}
.game-body-container {
  grid-area: game-body-container;
}
.games {
  grid-area: games;
  display: grid;
  grid-template-columns: 1fr;
}
.score {
  grid-area: score;
  margin-top: 20px;
  justify-self: center;
}
.board {
  grid-area: board;
  z-index: 1;
}
.rack {
  grid-area: rack;
  margin-top: 20px;
  justify-self: center;
}
.dictionary {
  grid-area: dictionary;
}
.chat {
  grid-area: chat;
}
.friends {
  grid-area: friends;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px;
}
.moves {
  grid-area: moves;
}
.signup {
  grid-area: signup;
}
.login {
  grid-area: login;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section-header {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0px;
}
.subsection-header {
  text-align: center;
  font-weight: bold;
}

.rack-container {
  /* display: flex; */
  /* margin-top: 20px; */
  /* align-self: center; */
  display: grid;
  grid-template-columns: 66px 66px 232px 66px 66px;
  grid-template-rows: auto;
}

.tile {
  position: relative;
  float: left;
  background: #e9e7d2;
  height: 34px;
  width: 34px;
  border: 1px solid #010807;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  color: #00713d;
  line-height: 32px;
  border-radius: 5px;
}
.tile-letter {
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}
.tile-value {
  position: absolute;
  top: 20px;
  right: 2px;
  line-height: 10px;
  font-size: 10px;
}

/* .square,.square-hover,.square-TW,.square-DW,.square-✹,.square-TL,.square-DL, { */
.square,
.square-hover {
  float: left;
  background: #007024;
  height: 34px;
  width: 34px;
  border: 2px solid #a1d1c8;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  color: #292929;
  line-height: 34px;
  text-align: center;
}

.square-hover {
  background: #30a054;
}

.square-TW {
  background: #dc002f;
}
.square-DW {
  background: #e2b462;
}
/* .square-🟐 { */
.square-✹ {
  background: #e2b462;
  font-size: 26px;
}
.square-TL {
  background: #0090cd;
}
.square-DL {
  background: #97c5e6;
}

.square-TW-hover {
  background: #fc305f;
}
.square-DW-hover {
  background: #f2e492;
}
/* .square-🟐 { */
.square-✹-hover {
  background: #f2e492;
  font-size: 26px;
}
.square-TL-hover {
  background: #30c0fd;
}
.square-DL-hover {
  background: #c7f5f6;
}
